
HelloWorld {
    #holder {
        height: 100%;

        #main {
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            margin-top: calc("view.Height,view.Parent.Height,(vh,ph)=>(ph-vh)/2");
        }
    }
}
